@import url(http://fonts.googleapis.com/css?family=Raleway|Lobster);

body {
	font-family: 'Raleway', sans-serif;
	background-image: url('https://whatchewtalkingabout.files.wordpress.com/2013/01/cotton-candy.jpg');
}

h1, h3 {
	font-family: 'Lobster', cursive;
	text-align: center;
}

.container {
	width: 75%;
}

ul
{
    list-style-type: none;
}
