<h2>New Song</h2>

<form action="/songs" method="post">
  <label for="song[title]">Title:</label>
  <input name="song[title]">

  <label for="song[duration]">Duration:</label>
  <input name="song[duration]">

  <label for="song[year_of_release]">Year of Release:</label>
  <input type="data" name="song[year_of_release]">

  <label for="song[album_title]">Album Title:</label>
  <input name="song[album_title]">

  <label for="song[artist_last_name]">Artist Last Name:</label>
  <input name="song[artist_last_name]">

  <input type="submit" value="Create">
</form>
