<h2>Managers</h2>

<a class="btn" href="/managers/new">Add Manager</a>

<div class="managers">
  <% @managers.each do |manager| %>
  <div class="row">
    <ul>
      <li>
        <h2>
          <a href="/managers/<%= manager.id %>">
            <%= manager.name %>
          </a>
        </h2>
      </li>
      <li>
        <a href="/managers/<%= manager.id %>/edit">
          Edit
        </a>
      </li>
      <li>
        <li>
          <form method="/managers/<%= manager.id %>/delete" action="post">
            <button>Delete</button>
          </form>
        </li>
      </li>
    </ul>
  </div>
  <% end %>
</div>
