<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>An RESTful Controller</title>
    </head>
    <body>
      <h1>A RESTful Controller</h1>
      <%= yield %>
    </body>
</html>
