<h2>Edit Song</h2>

<form action="/songs/<%= @song.id %>" method="post" class='song' id="edit-song">
  <input type="hidden" name="_method" value="put">
  <div>
    <label for="song[title]">Title:</label>
    <input name="song[title]" value="<%= @song.title %>">
  </div>

  <div>
    <label for="song[published_in]">Year Published:</label>
    <input name="song[published_in]" value="<%= @song.published_in %>">
  </div>

  <div>
    <input type="submit" value="Save Song" class='btn'>
  </div>
</form>
