<form id="new-food-form" class="form" onsubmit="eatly.createFood(event)">
  <input type="text" name="name" placeholder="name" require>
  <input type="text" name="yuminess" placeholder="yuminess"></input>
  <input type="submit"Save></input>
</form>
