<h2>New Manager</h2>

<form action="/managers" method="post">
  <label for="manager[name]">Name:</label>
  <input name="manager[name]">

  <label for="manager[email]">Email:</label>
  <input name="manager[email]">

  <label for="manager[office_number]">Office Number:</label>
  <input name="manager[office_number]">

  <label for="manager[cell_phone_number]">Cell Phone Number:</label>
  <input name="manager[cell_phone_number]">

  <input type="submit" value="Create">
</form>
