<h2>New Artist</h2>

<form action="/artists" method="post">
  <label for="artist[name]">Name:</label>
  <input name="artist[name]">

  <label for="artist[photo_url]">Photo URL:</label>
  <input name="artist[photo_url]">

  <label for="artist[nationality]">Nationality:</label>
  <input name="artist[nationality]">

  <input type="submit" value="Create">
</form>
