<div id="food-list">
  {{#each foods}}
    <div id="{{_id}}" class="food food-card">
      <p class="food-attribute">Name: {{name}}</p>
      <p class="food-attribute">Yuminess: {{yuminess}}</p>
    </div>
  {{/each}}
</div>
