<h3>Create Candy!</h3>
<fieldset>
  <form method="POST" action="/candies">
    <div class="form-group col-md-4">
      <input name="name" class="form-control" placeholder="Name"/>
    </div>
    <div class="form-group col-md-4">
      <input name="color"  class="form-control" placeholder="Color"/>
    </div>
	  <div class="form-group col-md-4"> 
	    <input class="btn btn-primary col-md-12" type="submit" value="Submit">
	  </div>
  </form>
</fieldset>