  <!doctype html>
  <html lang="en">
  <head>
    <title>Welcome to express.js!</title>
  </head>

  <body>
    <h1>Express and EJS</h1>
    <div class="container">
      <p> This is a paragraph of text. Yay! </p>
    </div>
  </body

