.logo {
  text-decoration: none;
  color: #6EA7FF;
}

.form {
  text-align: center;
}

.btn {
  margin: .25em 0 .75em 0;
  border: none;
  border-radius: .25em;
  padding: .4em;
}

.delete-btn {
  background-color: #282A78;
}

.food-card {
  color: whitesmoke;
  background-color: #6EA7FF;
  border-radius: .3em;
  text-align: center;
  width: 50%;
  min-width: 200px;
  max-width: 500px;
  margin: 1em auto;
}

.food-attribute {
  margin: 0;
  padding: .5em;
}
