<h1>Login</h1>

<%= form_tag sessions_path, method: "post" do %>
	<span>Email: </span><br>
	<%= text_field_tag :email, nil, required: true %><br>
	<span>Password: </span><br>
	<%= password_field_tag :password, nil, required: true %><br>
	<%= submit_tag "Login" %>
<% end %>